doctype html
html(lang="es")
  head
    title Música CTIN
    link(rel="stylesheet", type="text/css", href="/static/css/font-awesome.css")
    link(rel="stylesheet", type="text/css", href="/static/css/main.css")