include ./header
body
  .container
    .add-music
    .now-playing
      a.titulo Canción Chula
      .by por
      a.user Cool Kid
      .video
      .rate
        button.btn.btn-success.rate-up(type="button"):     i.fa.fa-thumbs-up
        button.btn.btn-danger.rate-down(type="button"):   i.fa.fa-thumbs-down
        button.btn.btn-primary.rate-share(type="button"):  i.fa.fa-share-alt
    .next A Continuación:
      a.titulo Canción Más Chula
      .by por
      a.user Cool Kid
      .video
      .rate
        button.btn.btn-success.rate-up(type="button"):     i.fa.fa-thumbs-up
        button.btn.btn-danger.rate-down(type="button"):   i.fa.fa-thumbs-down
        button.btn.btn-primary.rate-share(type="button"):  i.fa.fa-share-alt
    .votos-random ¡Vota o muere!
      .lista-canciones
        - for (i = 1; i <= 10; i++)
          .video-item
            a.titulo Canción ##{i}
            .by por
            a.user(href="#") Cool Kid
            .rate
                button.btn.btn-success.rate-up(type="button"):     i.fa.fa-thumbs-up
                button.btn.btn-danger.rate-down(type="button"):   i.fa.fa-thumbs-down
                button.btn.btn-primary.rate-share(type="button"):  i.fa.fa-share-alt
        include ./foot