@import "bootstrap.less";

@amarillo: 	#f1c40f;
@verde: 	#2ecc71;
@morado: 	#9b59b6;
@gris:		#95a5a6;
@blanco:	#ecf0f1;
@rojo:		#e74c3c;
@naranja:	#e67e22;
@azul:		#3498db;
@agua:		#1abc9c;

html {
	font-family: @font-family-base;
}

footer {
	background-color: @naranja;
	color: @blanco;
}